*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/scratch/
/app/release/
/app/gplay/
/app/fdroid/
/vendor/
/android-signing-keystore.jks
/play-store-credentials.json
/secrets.properties
/.bundle
/fastlane/report.xml
